<form  #myform="ngForm">

  <div class="form-group">
    <label for="exampleFormControlInput1">Hotel</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="nom" name="nom" ngModel>
  </div>

  <div class="form-group">
    <label for="exampleFormControlSelect1">Etoile</label>
    <select class="form-control" id="exampleFormControlSelect1" name="nbetoile" ngModel>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Description</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="desc" ngModel></textarea>
  </div>

  <div class="form-group">
    <label for="exampleFormControlFile1">Image</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1" name="photo" ngModel>
  </div>

  <button type="submit" class="btn btn-primary" (click)="showmyform(myform)">Submit</button>

</form>
