<div [ngStyle]="{'background-image': 'url(../../assets/bg.jpg)'}">
<div class="card">
<form #myform="ngForm" (ngSubmit)="logIn(myform)">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input class="form-control" id="exampleInputEmail1" placeholder="Enter login" name="user" required [(ngModel)]="user" #l="ngModel">
  </div>
  <div class="alert alert-danger" *ngIf="l.invalid && l.touched">
    Login invalid
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" required [(ngModel)]="password" #p="ngModel">
  </div>
  <div class="alert alert-danger" *ngIf="l.invalid && l.touched">
    Password invalid
  </div>

  <button [disabled]="myform.invalid"  type="submit" class="btn btn-primary" >Connect</button>
</form>
</div>
</div>
