app-header{
  margin-bottom: 150px;
}

app-home{
  overflow: auto;
  /*margin-top: 200px;*/
}

app-footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height:100px;
  background:#ccc;
}
