.container-fluid{
  overflow: auto;
  margin-bottom: 50px;
}
.card-deck {
  display: block;
  width: 100%;
}
.card {

  float: left;
  margin: 10px;
  padding: 10px 3px;
  height: 400px;
  /*setting width for each and every card element as well as -10px for removing the margin width for 5 elements*/
  /*width: calc( 100% / 5 - 10px);*/
}
/*first element*/

.card-deck .card:first-child {
  margin-left: 0;
}


/*last element of the first row*/

.card-deck .card:nth-child(5n) {
  margin-right: 0;
}


/*first-element of the 2nd row*/

.card-deck .card:nth-child(5n+1) {
  margin-left: 0;
}


/*last element*/

.container .card:last-child {
  margin-right: 0;
}

.card-img-top{
  height: 200px;
}


.like-container{filter: url('#filter');}
.like-cnt{
  position: absolute;
  cursor: pointer;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);     background: rgba(255,255,255,0.3);     width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 75px;
  z-index: 10;
}
.like-btn{
  color: #fff;
}
.image{
  width: 25px;
  height: 25px;
  margin: 5px;
}
