<div class="container-fluid">
  <div classe="card-deck" *ngFor="let h of listHotel">

                <div class="card" style="width: 18rem;">
                  <img src={{h.photo}} class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{h.title}}</h5>
                    <p class="card-text">{{h.desc}}</p>

                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>


    </div>

</div>

